.snap-drawers {
  background: darken($primary-color, 15%);
  color: white;
  a {
    color: white;
  }
}

.main-nav {
  padding: 30px;
  ul {
    padding: 0;
    margin: 0;
    list-style: none;
    li {
      font-size: 1.25em;
      border-bottom: 1px solid fade-out($border-color, .9);
      a {
        display: block;
        padding: 15px;
        > span {
          margin-right: .5em;
        }
      }
    }
  }
}