.profile-header {
  padding-top: 30px;
  text-align: center;
  h4 {
    margin-bottom: 0;
  }
}

.profile-body {
  background: #eee;
  border-top: 1px solid $border-color;
  margin-top: 10px;
  h5 {
    text-align: center;
    color: $primary-color;
  }
}

.hexagon {
  position: relative;
  left: 50%;
  top: 25px;
  width: 100px;
  height: 57.74px;
  margin: 28.87px 0;
  margin-left: -50px;
  background-size: auto 115.4701px;
  background-position: center;
  &:after {
    content: "";
    position: absolute;
    top: 0.0000px;
    left: 0;
    width: 100.0000px;
    height: 57.7350px;
    z-index: 2;
    background: inherit;
  }
}

.hexTop,
.hexBottom {
  position: absolute;
  z-index: 1;
  width: 70.71px;
  height: 70.71px;
  overflow: hidden;
  -webkit-transform: scaleY(0.5774) rotate(-45deg);
  -ms-transform: scaleY(0.5774) rotate(-45deg);
  transform: scaleY(0.5774) rotate(-45deg);
  background: inherit;
  left: 14.64px;
  &:after {
    content: "";
    position: absolute;
    width: 100.0000px;
    height: 57.73502691896258px;
    -webkit-transform:  rotate(45deg) scaleY(1.7321) translateY(-28.8675px);
    -ms-transform:      rotate(45deg) scaleY(1.7321) translateY(-28.8675px);
    transform:          rotate(45deg) scaleY(1.7321) translateY(-28.8675px);
    -webkit-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    transform-origin: 0 0;
    background: inherit;
  }
}

.hexTop {
  top: -35.3553px;
  &:after {
    background-position: center top;
  }
}

.hexBottom {
  bottom: -35.3553px;
  &:after {
    background-position: center bottom;
  }
}