.quest-code {
  input[type="text"] {
    width: 200px;
    margin-bottom: .25em;
    font-size: 2em;
    height: auto;
    display: inline-block;
    text-align: center;
    font-family: monospace;
  }
}