// Colors
$text-color:        #4c4c4c;
$light-text-color:  #858585;
$primary-color:     #6e5baa;
$primary-blue:      #5679f7;
$primary-green:     #5aaa28;
$error-color:       #e65252;

$border-color:      #e1e1e1;

$faded-purple:      #8a7eb1;
$faded-blue:        #79bbe7;
$faded-green:       #89c061;

// Border radius
$border-radius: 3px;

// Grid
$header-height: 50px;