@import "bourbon";
@import "includes/variables";
@import "includes/mixins";
@import "includes/menu";
@import "includes/login";
@import "includes/header";
@import "includes/profile";
@import "includes/leaderboard";
@import "includes/prizes";
@import "includes/quests";

body, html {
  position: relative;
  height: 100%;
}

#chosa-app {
  height: 100%;
}

#content {
  padding-top: $header-height;
  background: white;
}

img {
  max-width: 100%;
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
  li {
    padding: 15px 0 10px;
    border-bottom: 1px solid $border-color;
    @include clearfix();
    > a {
      color: $text-color;
    }
  }
  h3 {
    margin: 0;
    font-size: 17px;
  }
  .points-badge {
    background: fade-out($primary-blue, .9);
    width: 100%;
    height: auto;
    text-align: center;
    padding: 5px;
    border-radius: $border-radius;
  }
}

.points-badge {
  font-weight: bold;
  color: $primary-blue;
  .glyphicon {
    position: relative;
    margin: 0 0 0 4px;
    top: -2px;
    font-size: .5em;
    color: fade-out($primary-blue, .5);
  }
  &.points-badge-large {
    font-size: 2.5em;
  }
}